html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
p,
pre,
blockquote,
figure,
hr {
  margin: 0;
  padding: 0;
}

html {
  background-color: #3a3729;
}

body {
  font-family: "Oswald", sans-serif;
}

@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/oswald-v24-latin-regular.woff2") format("woff2"), url("../fonts/oswald-v24-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* oswald-300 - latin */
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 300;
  src: local(""), url("../fonts/oswald-v24-latin-300.woff2") format("woff2"), url("../fonts/oswald-v24-latin-300.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideInFromRight {
  0% {
    transform: translateX(300%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideInFromBottom {
  0% {
    transform: rotate(-90deg) translateX(-100%);
  }
  100% {
    transform: rotate(-90deg) translateX(0);
  }
}
@keyframes slideInFromTop {
  0% {
    transform: rotate(-90deg) translateX(200%);
  }
  100% {
    transform: rotate(-90deg) translateX(0);
  }
}
.header {
  color: #3a3729;
  position: relative;
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  height: 410px;
}
@media (min-width: 660px) {
  .header {
    height: 400px;
  }
}
@media (min-width: 760px) {
  .header {
    height: 450px;
  }
}
@media (min-width: 880px) {
  .header {
    height: 500px;
  }
}
@media (min-width: 980px) {
  .header {
    height: 550px;
  }
}
@media (min-width: 1080px) {
  .header {
    height: 600px;
  }
}
@media (min-width: 1200px) {
  .header {
    height: 666px;
  }
}
@media (min-width: 1400px) {
  .header {
    height: 789px;
  }
}
@media (min-width: 1600px) {
  .header {
    height: 939px;
  }
}
@media (min-width: 1900px) {
  .header {
    height: 969px;
  }
}
.header nav div a {
  color: inherit;
  text-decoration: none;
  padding: 15px;
  border-bottom: 1px solid transparent;
  border-left: 1px solid transparent;
  transition: 0.5s ease-in-out;
}
.header nav div a:hover {
  border-bottom: 1px solid #3a3729;
  border-left: 1px solid #3a3729;
}
.header .nav__top {
  display: none;
  margin-top: 40px;
  position: absolute;
  justify-content: center;
  opacity: 0;
  font-size: 1.6rem;
  animation: 1.2s ease-out 1.5s forwards fadeIn;
  right: 30%;
  z-index: 1;
}
.header .nav__top div {
  padding-right: 10px;
}
@media (min-width: 760px) {
  .header .nav__top div {
    padding-right: 50px;
  }
}
@media (min-width: 660px) {
  .header .nav__top {
    display: flex;
  }
}
.header .nav__bottom {
  display: none;
  margin-bottom: 40px;
  margin-left: 45px;
  position: absolute;
  justify-content: center;
  opacity: 0;
  font-size: 1.6rem;
  animation: 1.2s ease-out 2s forwards fadeIn;
  bottom: 0;
  z-index: 1;
}
.header .nav__bottom div {
  padding-right: 10px;
}
@media (min-width: 760px) {
  .header .nav__bottom div {
    padding-right: 50px;
  }
}
@media (min-width: 660px) {
  .header .nav__bottom {
    display: flex;
  }
}
.header__left {
  background-color: #fff95a;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  width: 50vw;
}
@media (min-width: 660px) {
  .header__left {
    animation: 1.2s ease-out 0s 1 slideInFromLeft;
    width: 100%;
  }
}
.header__left h1,
.header__left h2 {
  letter-spacing: -2px;
  line-height: 0.886;
}
@media (min-width: 400px) {
  .header__left h1,
.header__left h2 {
    letter-spacing: -6px;
  }
}
.header__left h1 {
  transform: rotate(-90deg);
  font-size: 5rem;
  margin-top: -280px;
  margin-left: -90px;
  animation: 1.4s ease-out 0s 1 slideInFromBottom;
}
@media (min-width: 400px) {
  .header__left h1 {
    font-size: 8rem;
    margin-top: -270px;
    margin-left: -120px;
  }
}
@media (min-width: 660px) {
  .header__left h1 {
    animation: 1.4s ease-out 0s 1 slideInFromRight;
    margin: 0;
    transform: none;
    padding-left: 2%;
    font-size: 17vw;
    display: block;
  }
}
.header__left h2 {
  color: #898632;
  transform: rotate(-90deg);
  font-weight: 300;
  font-size: 4rem;
  margin-top: -72px;
  margin-left: 0px;
  animation: 1.4s ease-out 0s 1 slideInFromTop;
}
@media (min-width: 400px) {
  .header__left h2 {
    font-size: 5.57rem;
    margin-top: -110px;
    margin-left: 0px;
  }
}
@media (min-width: 660px) {
  .header__left h2 {
    transform: none;
    margin: 0;
    animation: 1s ease-out 0s 1 slideInFromLeft;
    font-size: 10.26vw;
    padding-left: 35.2%;
    display: block;
  }
}
.header__right {
  background-color: #3a3729;
  width: 50vw;
}
@media (min-width: 660px) {
  .header__right {
    width: 28vw;
  }
}
.header::after {
  position: absolute;
  content: "";
  animation: 1.4s ease-out 0s 1 slideInFromRight;
  background-size: 350px;
  background-image: url(../img/christian-header-background-medium.png);
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 410px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 660px) {
  .header::after {
    animation: 1s ease-out 0s 1 slideInFromRight;
    background-size: cover;
    background-image: url(../img/christian-header-background-large.png);
    right: 0;
    width: 330px;
    height: 400px;
  }
}
@media (min-width: 760px) {
  .header::after {
    width: 45vw;
    height: 450px;
  }
}
@media (min-width: 880px) {
  .header::after {
    height: 500px;
  }
}
@media (min-width: 980px) {
  .header::after {
    height: 550px;
  }
}
@media (min-width: 1080px) {
  .header::after {
    height: 600px;
  }
}
@media (min-width: 1200px) {
  .header::after {
    height: 666px;
  }
}
@media (min-width: 1400px) {
  .header::after {
    height: 789px;
  }
}
@media (min-width: 1600px) {
  .header::after {
    height: 939px;
  }
}
@media (min-width: 1900px) {
  .header::after {
    height: 969px;
  }
}

.education {
  text-align: right;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 10%;
  background: linear-gradient(rgba(58, 55, 41, 0.85), rgba(58, 55, 41, 0.85)), url(../img/christian-ipanaque-education.jpg);
  background-size: cover;
}
.education div {
  margin-bottom: 40px;
}
.education h2 {
  font-size: 10vw;
  text-transform: uppercase;
  color: #fff95a;
}
.education h3 {
  font-size: 5vw;
  color: #fbfbfb;
}
.education h3 a,
.education h3 a:active {
  color: #fbfbfb;
}
.education h4 {
  font-size: 3vw;
  font-weight: 300;
  color: #D8D8D8;
}

.achievements {
  text-align: left;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 10%;
  background: linear-gradient(rgba(255, 249, 90, 0.85), rgba(255, 249, 90, 0.85)), url(../img/christian-ipanaque-achievements.jpg);
  background-size: cover;
}
.achievements div {
  margin-bottom: 40px;
}
.achievements h2 {
  font-size: 10vw;
  text-transform: uppercase;
  color: #3a3729;
}
.achievements h3 {
  font-size: 5vw;
  color: #898632;
}
.achievements h3 a,
.achievements h3 a:active {
  color: #898632;
}
.achievements h4 {
  font-size: 3vw;
  font-weight: 300;
  color: #898632;
}

.projects {
  text-align: left;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 10%;
  background: linear-gradient(rgba(58, 55, 41, 0.85), rgba(58, 55, 41, 0.85)), url(../img/christian-ipanaque-projects.jpg);
  background-size: cover;
}
.projects div {
  margin-bottom: 40px;
}
.projects h2 {
  font-size: 10vw;
  text-transform: uppercase;
  color: #fff95a;
}
.projects h3 {
  font-size: 5vw;
  color: #fbfbfb;
}
.projects h3 a,
.projects h3 a:active {
  color: #fbfbfb;
}
.projects h4 {
  font-size: 3vw;
  font-weight: 300;
  color: #D8D8D8;
}

.publications {
  text-align: right;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 10%;
  background: linear-gradient(rgba(255, 249, 90, 0.85), rgba(255, 249, 90, 0.85)), url(../img/christian-ipanaque-publications.jpg);
  background-size: cover;
}
.publications div {
  margin-bottom: 40px;
}
.publications h2 {
  font-size: 10vw;
  text-transform: uppercase;
  color: #3a3729;
}
.publications h3 {
  font-size: 5vw;
  color: #898632;
}
.publications h3 a,
.publications h3 a:active {
  color: #898632;
}
.publications h4 {
  font-size: 3vw;
  font-weight: 300;
  color: #898632;
}

.ethics {
  text-align: left;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 10%;
  background: linear-gradient(rgba(58, 55, 41, 0.85), rgba(58, 55, 41, 0.85)), url(../img/christian-ipanaque-ethics.jpg);
  background-size: cover;
}
.ethics div {
  margin-bottom: 40px;
}
.ethics h2 {
  font-size: 10vw;
  text-transform: uppercase;
  color: #fff95a;
}
.ethics h3 {
  font-size: 5vw;
  color: #fbfbfb;
}
.ethics h3 a,
.ethics h3 a:active {
  color: #fbfbfb;
}
.ethics h4 {
  font-size: 3vw;
  font-weight: 300;
  color: #D8D8D8;
}

.projects__tools {
  color: #fff95a;
  font-weight: 400;
}

.projects__links {
  text-decoration: underline;
  font-weight: 400;
  color: #fff95a;
}

/*# sourceMappingURL=index.css.map */
