.header {
  color: $primary-color;
  position: relative;
  display: flex;
  justify-content: space-between;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;

  @media (min-width: $break-small-laptop) {
    height: 560px;
  }

  @media (min-width: $break-large-laptop) {
    height: 666px;
  }

  @media (min-width: $break-small-desktop) {
    height: 789px;
  }

  @media (min-width: $break-medium-desktop) {
    height: 939px;
  }

  @media (min-width: $break-large-desktop) {
    height: 969px;
  }

  nav div a {
    color: inherit;
    text-decoration: none;
    padding: 15px;
    border-bottom: 1px solid transparent;
    border-left: 1px solid transparent;
    transition: 0.5s ease-in-out;

    &:hover {
      border-bottom: 1px solid $primary-color;
      border-left: 1px solid $primary-color;
    }
  }

  .nav__top {
    margin-top: 40px;
    position: absolute;
    display: flex;
    justify-content: center;
    opacity: 0;
    font-size: 1.6rem;
    animation: 1.2s ease-out 1.5s forwards fadeIn;
    right: 30%;
    z-index: 1;

    div {
      padding-right: 80px;
    }
  }

  .nav__bottom {
    margin-bottom: 40px;
    margin-left: 45px;
    position: absolute;
    display: flex;
    justify-content: center;
    opacity: 0;
    font-size: 1.6rem;
    animation: 1.2s ease-out 2s forwards fadeIn;
    bottom: 0;

    div {
      padding-right: 80px;
    }
  }

  &__left {
    background-color: $accent-color;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    animation: 1.2s ease-out 0s 1 slideInFromLeft;
    width: 100%;

    & h1,
    h2 {
      letter-spacing: -6px;

      @media (min-width: $break-small-laptop) {
        line-height: 0.886;
      }

      @media (min-width: $break-large-laptop) {
        line-height: 0.899;
      }

      @media (min-width: $break-small-desktop) {
        line-height: 0.888;
      }

      @media (min-width: $break-medium-desktop) {
        line-height: 0.885;
      }

      @media (min-width: $break-large-desktop) {
        line-height: 0.888;
      }
    }

    & h1 {
      animation: 1.4s ease-out 0s 1 slideInFromRight;
      padding-left: 2%;
      font-size: 17vw;
    }

    & h2 {
      color: $accent-secondary-color;
      font-weight: 300;
      animation: 1s ease-out 0s 1 slideInFromLeft;
      font-size: 10.26vw;
      padding-left: 35.2%;
    }
  }

  &__right {
    background-color: $primary-color;
    width: 28vw;
  }

  &::after {
    position: absolute;
    content: "";
    animation: 1s ease-out 0s 1 slideInFromRight;
    right: 0;
    width: 45vw;

    background-size: cover;
    background-image: url(../img/christian-header-background-large.png);

    @media (min-width: $break-small-laptop) {
      height: 560px;
    }

    @media (min-width: $break-large-laptop) {
      height: 666px;
    }

    @media (min-width: $break-small-desktop) {
      height: 789px;
    }

    @media (min-width: $break-medium-desktop) {
      height: 939px;
    }

    @media (min-width: $break-large-desktop) {
      height: 969px;
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(300%);
  }
  100% {
    transform: translateX(0);
  }
}
