.header {
  color: $primary-color;
  position: relative;
  display: flex;
  justify-content: space-between;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;

  @media (min-width: $break-small-laptop) {
    height: 561px;
  }

  @media (min-width: $break-large-laptop) {
    height: 700px;
  }

  @media (min-width: $break-small-desktop) {
    height: 821px;
  }

  @media (min-width: $break-medium-desktop) {
    height: 971px;
  }

  @media (min-width: $break-large-desktop) {
    height: 1001px;
  }

  nav div a {
    color: inherit;
    text-decoration: none;
    padding: 15px;
    border-bottom: 1px solid transparent;
    border-left: 1px solid transparent;
    transition: 0.5s ease-in-out;

    &:hover {
      border-bottom: 1px solid $primary-color;
      border-left: 1px solid $primary-color;
    }
  }

  .nav__top {
    margin-top: 40px;
    position: absolute;
    display: flex;
    justify-content: center;
    opacity: 0;
    font-size: 1.6rem;
    animation: 1.2s ease-out 1.5s forwards fadeIn;
    right: 30%;
    z-index: 1;

    div {
      padding-right: 80px;
    }
  }

  .nav__bottom {
    margin-bottom: 40px;
    margin-left: 45px;
    position: absolute;
    display: flex;
    justify-content: center;
    opacity: 0;
    font-size: 1.6rem;
    animation: 1.2s ease-out 2s forwards fadeIn;
    bottom: 0;

    div {
      padding-right: 80px;
    }
  }

  &__left {
    background-color: $accent-color;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    animation: 1.2s ease-out 0s 1 slideInFromLeft;
    width: 100%;

    & h1,
    h2 {
      letter-spacing: -6px;

      @media (min-width: $break-small-laptop) {
        line-height: 0.886;
      }

      @media (min-width: $break-large-laptop) {
        line-height: 0.899;
      }

      @media (min-width: $break-small-desktop) {
        line-height: 0.888;
      }

      @media (min-width: $break-medium-desktop) {
        line-height: 0.885;
      }

      @media (min-width: $break-large-desktop) {
        line-height: 0.888;
      }
    }

    & h1 {
      animation: 1.4s ease-out 0s 1 slideInFromRight;
      padding-left: 2%;
      font-size: 17vw;
    }

    & h2 {
      color: $accent-secondary-color;
      font-weight: 300;
      animation: 1s ease-out 0s 1 slideInFromLeft;

      @media (min-width: $break-small-laptop) {
        font-size: 10.26rem;
        padding-left: 272px;
      }

      @media (min-width: $break-large-laptop) {
        font-size: 12rem;
        padding-left: 335px;
      }

      @media (min-width: $break-small-desktop) {
        font-size: 13.17rem;
        padding-left: 367px;
      }

      @media (min-width: $break-medium-desktop) {
        font-size: 14.9rem;
        padding-left: 435px;
      }

      @media (min-width: $break-large-desktop) {
        font-size: 18.15rem;
        padding-left: 523px;
      }
    }
  }

  &__right {
    background-color: $primary-color;

    @media (min-width: $break-small-laptop) {
      width: 300px;
    }

    @media (min-width: $break-large-laptop) {
      width: 360px;
    }

    @media (min-width: $break-small-desktop) {
      width: 440px;
    }

    @media (min-width: $break-medium-desktop) {
      width: 520px;
    }
  }
  &::after {
    position: absolute;
    content: "";
    animation: 1s ease-out 0s 1 slideInFromRight;
    right: 1%;

    @media (min-width: $break-small-laptop) {
      background-image: url(../img/christian-header-background-medium.png);
      background-size: 462px;
      background-repeat: no-repeat;
      width: 462px;
      height: 561px;
    }

    @media (min-width: $break-large-laptop) {
      background-image: url(../img/christian-header-background-large.png);
      background-size: cover;
      width: 570px;
      height: 700px;
    }

    @media (min-width: $break-small-desktop) {
      width: 670px;
      height: 821px;
    }

    @media (min-width: $break-medium-desktop) {
      width: 790px;
      height: 971px;
    }

    @media (min-width: $break-large-desktop) {
      width: 820px;
      height: 1001px;
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(300%);
  }
  100% {
    transform: translateX(0);
  }
}
