.education {
  @include sections(
    right,
    url(../img/christian-ipanaque-education.jpg),
    $primary-color,
    $accent-color,
    $secondary-color,
    $light-gray-color
  );
}

.achievements {
  @include sections(
    left,
    url(../img/christian-ipanaque-achievements.jpg),
    $accent-color,
    $primary-color,
    $accent-secondary-color,
    $accent-secondary-color
  );
}

.projects {
  @include sections(
    left,
    url(../img/christian-ipanaque-projects.jpg),
    $primary-color,
    $accent-color,
    $secondary-color,
    $light-gray-color
  );
}

.publications {
  @include sections(
    right,
    url(../img/christian-ipanaque-publications.jpg),
    $accent-color,
    $primary-color,
    $accent-secondary-color,
    $accent-secondary-color
  );
}

.ethics {
  @include sections(
    left,
    url(../img/christian-ipanaque-ethics.jpg),
    $primary-color,
    $accent-color,
    $secondary-color,
    $light-gray-color
  );
}

.projects__tools {
  color: $accent-color;
  font-weight: 400;
}

.projects__links {
  text-decoration: underline;
  font-weight: 400;
  color: $accent-color;
}
