$primary-color: #3a3729;
$accent-color: #fff95a;
$accent-secondary-color: #898632;

$break-phone-small: 400px;
$break-phone-medium: 759px;
$break-phone-large: 760px;

$break-iPad-medium: 880px;
$break-iPad-large: 980px;

$break-small-laptop: 1080px;
$break-large-laptop: 1200px;

$break-small-desktop: 1400px;
$break-medium-desktop: 1600px;
$break-large-desktop: 1900px;
