$primary-color: #3a3729;
$accent-color: #fff95a;
$accent-secondary-color: #898632;

$break-small-laptop: 1000px;
$break-large-laptop: 1200px;

$break-small-desktop: 1400px;
$break-medium-desktop: 1600px;
$break-large-desktop: 1900px;