@import "reset";
@import "fonts";

.header {
  height: 850px;
  position: relative;
  display: flex;

  &__left {
    font-family: "Oswald", sans-serif;
    width: 70%;
    background-color: #fff95a;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;

    & h1 {
      color: #3a3729;
      font-size: 18rem;
      letter-spacing: -5px;
    }
  }

  &__right {
    width: 30%;
    background-color: #3a3729;
  }

  &::after {
    position: absolute;
    content: "";
    width: 650px;
    height: 850px;
    background-image: url(../img/christian-header-background.png);
    background-size: cover;
    left: 45%;
  }
}
