@import "reset";
@import "global";
@import "fonts";

.header {
  height: 700px;
  color: #3a3729;
  position: relative;
  display: flex;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;

  & nav {
    position: absolute;
    display: flex;
    justify-content: center;
    opacity: 0;
    font-size: 1.6rem;
    animation: 2s ease-out 1.3s forwards fadeIn;

    div {
      padding: 40px;
    }
  }

  &__left {
    width: 76%;
    background-color: #fff95a;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    animation: 1.2s ease-out 0s 1 slideInFromLeft;

    & h1,
    h2 {
      font-size: 20.5rem;
      letter-spacing: -6px;
      line-height: 0.9;
    }

    & h1 {
      padding-left: 30px;
      animation: 1.4s ease-out 0s 1 slideInFromRight;
    }

    & h2 {
      color: #898632;
      padding-left: 294px;
      font-weight: 300;
      font-size: 13.5rem;
      animation: 1s ease-out 0s 1 slideInFromLeft;
    }
  }

  &__right {
    background-color: #3a3729;
  }

  &::after {
    position: absolute;
    content: "";
    width: 570px;
    height: 700px;
    background-image: url(../img/christian-header-background.png);
    background-size: cover;
    left: 53%;
    animation: 1s ease-out 0s 1 slideInFromRight;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(200%);
  }
  100% {
    transform: translateX(0);
  }
}
