@import "reset";
@import "fonts";

.header {
  height: 850px;
  position: relative;
  display: flex;

  &__left {
    font-family: "Oswald", sans-serif;
    width: 70%;
    background-color: #fff95a;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;

    & h1,
    h2 {
      color: #3a3729;
      font-size: 17.5rem;
      letter-spacing: -6px;
      text-transform: uppercase;
      line-height: .9;
    }

    & h1 {
      padding-left: 30px;
    }

    & h2 {
      color: #898632;
      padding-left: 294px;
      font-weight: 300;
      font-size: 10.5rem;
    }
  }

  &__right {
    width: 30%;
    background-color: #3a3729;
  }

  &::after {
    position: absolute;
    content: "";
    width: 650px;
    height: 850px;
    background-image: url(../img/christian-header-background.png);
    background-size: cover;
    left: 47%;
  }
}
