/* roboto-condensed-700 - latin */
@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 700;
  src: url("./fonts/roboto-condensed-v25-latin-700.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("./fonts/roboto-condensed-v25-latin-700.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("./fonts/roboto-condensed-v25-latin-700.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("./fonts/roboto-condensed-v25-latin-700.woff") format("woff"),
    /* Modern Browsers */ url("./fonts/roboto-condensed-v25-latin-700.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("./fonts/roboto-condensed-v25-latin-700.svg#RobotoCondensed")
      format("svg"); /* Legacy iOS */
}

/* roboto-300 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: url("./fonts/roboto-v30-latin-300.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("./fonts/roboto-v30-latin-300.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("./fonts/roboto-v30-latin-300.woff2") format("woff2"),
    /* Super Modern Browsers */ url("./fonts/roboto-v30-latin-300.woff")
      format("woff"),
    /* Modern Browsers */ url("./fonts/roboto-v30-latin-300.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("./fonts/roboto-v30-latin-300.svg#Roboto")
      format("svg"); /* Legacy iOS */
}
/* roboto-700 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("./fonts/roboto-v30-latin-700.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("./fonts/roboto-v30-latin-700.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("./fonts/roboto-v30-latin-700.woff2") format("woff2"),
    /* Super Modern Browsers */ url("./fonts/roboto-v30-latin-700.woff")
      format("woff"),
    /* Modern Browsers */ url("./fonts/roboto-v30-latin-700.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("./fonts/roboto-v30-latin-700.svg#Roboto")
      format("svg"); /* Legacy iOS */
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1.5rem;
  letter-spacing: -0.4px;
}

strong {
  font-weight: 700;
}

h2 {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 53px;
  font-weight: 700;
  line-height: 1em;
  letter-spacing: -2.6px;
}

.top-hire-now {
  display: flex;
  justify-content: center;
  padding: 10px;
  background-color: black;
  color: #fff;
}

header {
  color: #fff;
  background-color: #323359;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 120px 40px;
}

header h1 {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 70px;
  font-weight: 700;
  text-transform: capitalize;
  line-height: 1em;
  letter-spacing: -2.6px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header p {
  color: #f8d1da;
}

.profile-image {
  width: 300px;
  border: 20px solid #323359;
  border-radius: 100%;
}

.introduction {
  display: flex;
  align-items: center;
  padding: 80px 0;
}

.section-introduction {
  padding: 120px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-introduction p {
  padding: 20px 0;
}

.section-introduction h2 {
  padding-left: 20px;
}

.section-normal {
  padding: 120px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f8d1da;
}

.section-normal p {
  padding: 20px 0;
}

.section-normal h2 {
  padding: 0 0 80px 0;
}

.section-light {
  padding: 120px 40px;
  background-color: #E7D97F;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-light h2 {
  padding: 0 0 80px 0;
}

.section-light p {
  padding: 20px 0;
}

.section-dark {
  background-color: #323359;
  color: #fff;
  padding: 120px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-dark h2 {
  padding: 0 0 80px 0;
}

.section-dark p {
  padding: 20px 0;
}

.section-container {
  width: 700px;
}

/* .section-light h2,
.section-dark h2,
.section-normal h2 {
  width: 700px;
} */

.cta {
  display: block;
  color: #fff;
  margin-top: 80px;
  padding: 40px;
  border-radius: 20px;
  background-color: #d136b2;
  text-decoration: none;
}

.cta-top {
  display: inline-block;
  color: #fff;
  background-color: #d136b2;
  border-radius: 20px;
  padding: 10px 20px;
  text-decoration: none;
  font-weight: 700;
}

.sales {
  color: #d136b2;
}

@media (max-width: 620px) {
  .profile-image {
    width: 100%;
    height: auto;
    margin-top: 120px;
  }

  .introduction {
    flex-wrap: wrap;
    padding: 0;
  }

  .section-introduction h2 {
    padding: 80px 0;
  }
}

@media (min-width: 900px) {
  .profile-image {
    width: 400px;
  }

  .section-introduction h2 {
    padding-left: 40px;
  }
}

@media (max-width: 800px) {
  .section-container {
    width: 100%;
  }

  /* .section-light h2,
  .section-dark h2,
  .section-normal h2 {
    width: 100%;
  } */
}
