<footer>
  <nav class="footer-nav" aria-label="Footer navigation">
    <ul>
      <li>
        <a href="/privacy">Privacy</a>
      </li>
      <li>
        <a href="/disclaimer">Disclaimer</a>
      </li>
      <li>
        <a href="/terms-and-conditions">Terms and Conditions</a>
      </li>
    </ul>
    <ul>
      <li><a href="/feed.atom" target="_blank">Atom Feed</a></li>
      <li><a href="/rss.xml" target="_blank">RSS Feed</a></li>
      <li><a href="/sitemap.xml" target="_blank">Sitemap</a></li>
    </ul>
  </nav>
  <section class="footer-copyright">
    <p>© 2024 Christian Ipanaque. All rights reserved.</p>
  </section>
</footer>