<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body>
  {% include header_navigation.html %}
  <header>
    <h1>{{ page.title }}</h1>
    <p>
      By {{site.author.name}} - Published on {{ page.date | date: "%B %-d, %Y"
      }}
    </p>
  </header>
  <main>
    <article>
      {% if page.post_image %}
      <figure class="figure">
        <img src="/{{ page.post_image }}" alt="{{ page.title }}">
      </figure>
      {% endif %}
      <section class="article-single-content">
        {{ content }}
      </section>
    </article>
  </main>
  {% include footer_navigation.html %}
  <script src="/assets/scripts/js/highlight.min.js"></script>
  <script src="/assets/scripts/js/plaintext.min.js"></script>
  <script src="/assets/scripts/js/highlightjs-copy.min.js"></script>
  <script>
    hljs.highlightAll();
    hljs.addPlugin(new CopyButtonPlugin());
  </script>
</body>

</html>